<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Template.master.cs" Inherits="site.Pages.Template" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <title>БМ-сервис - все для Ваших любимых коров.</title>
    <link href="~/Content/main.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/Content/modal-contact-form.css" />
    <link rel="shortcut icon" href="/Content/favicon.png" type="image/png">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script src="/upup.min.js"></script>
    <script>
        $(document).ready(function () {
            // hide #back-top first
            $("#back-top").hide();

            // fade in #back-top
            $(function () {
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 100) {
                        $('#back-top').fadeIn();
                    } else {
                        $('#back-top').fadeOut();
                    }
                });
                // scroll body to 0px on click
                $('#back-top a').click(function () {
                    $('body,html').animate({
                        scrollTop: 0
                    }, 800);
                    return false;
                });
            });
        });
        UpUp.start({
            'content-url': 'Index.aspx' // show this page to offline users
        });
        </script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body >
    <center>
    <div class="header">
        <div id="shap">
            <a href="callto:88001005630"><div style="margin-top: 70px;"><img src="/Content/tel1.png"></div>
            <div><p class="shap" style="line-height:1;"><span style="font-size:36px;">8-800-100-56-30</span> <br>
                <span style="font-size:20px; font-weight:normal; top:-10px;">Звонок по России бесплатный</span></p></div></a>
            <div style="margin-top: -2px; position:static"><a href="/Index.aspx"><img src="/Content/logo.png" /></a></div>
            <a target="_blank"  href="https://yandex.ru/maps/9/lipetsk/?mode=search&ll=39.577058%2C52.595583&z=17&text=улица%20Мичурина%2C%2028Е&sll=39.547521%2C52.637413&sspn=0.628967%2C0.212625">
            <div style="margin-top: 70px;"><img src="/Content/adr1.png"></div>
            <div><p>Липецк, ул. Мичурина, <br> д.28, корпус «Е», офис 33</p></div></a>
        </div>   
    </div>
        </center>
    <center>
    <div id="menu">
        <ul>
            <li><a href="/Index.aspx">ГЛАВНАЯ</a></li>
            <!--<li><a href="/Pages/Services.aspx">УСЛУГИ</a></li>-->
            <li><a href="/Catalog.aspx">ПРОДУКЦИЯ</a></li>
            <li><a href="/Partners.aspx">ПАРТНЕРЫ</a></li>
            <li><a href="/Clientele.aspx">КЛИЕНТЫ</a></li>
            <li><a href="/Price_lists.aspx">ПРАЙС-ЛИСТЫ</a></li>
            <li><a href="/Contacts.aspx"">КОНТАКТЫ</a></li>
       </ul>
   </div>
   </center>

     	

  <div id="body"><form  runat="server">
    
    <div id="body_t" style="align-content:flex-start">
        
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                
        </div>
      
      <!--Кнопка обратного звонка 
        <div>
        <a class="show-btn" id="popup__toggle" href = "javascript:void(0)" onclick = "document.getElementById('envelope').style.display='block';document.getElementById('fade').style.display='block'"><div class="circlephone" style="transform-origin: center;"></div><div class="circle-fill" style="transform-origin: center;"></div><div class="img-circle" style="transform-origin: center;"><div class="img-circleblock" style="transform-origin: center;"></div></div></a>
		<div id="envelope" class="envelope">
			<a class="close-btn" title="Закрыть" href="javascript:void(0)" onclick = "document.getElementById('envelope').style.display='none';document.getElementById('fade').style.display='none'"></a>
			<div class="title">Отправьте заявку для получения бесплатной квалифицированной консультации</div>
			<form method="post" action="/Content/sendletter.php">
				<input type="text" name="sender" onclick="this.value = '';" onfocus="this.select()" onblur="this.value=!this.value?'* Ваше Имя':this.value;" value="* Ваше Имя" class="your-name" required />
				<input type="text" name="email" onclick="this.value = '';" onfocus="this.select()" onblur="this.value=!this.value?'* Ваш Email':this.value;" value="* Ваш Email" class="email-address" required />
				<input type="submit" name="send" value="Отправить" class="send-message">
			</form>
		</div>
		<div id="fade" class="black-overlay"></div>	
    </div>-->

      <!--Кнопка вверх -->
      <p id="back-top">
		<a href="#top"><span></span></a>
	</p>

    </form>
  </div>
    <!--OOO «БМ-сервис» ,  Все права защищены, 2017.-->
 <div class="bottom">
        <div id="bot"> 
            <div style="display:inline-block;margin-right: 70px; margin-bottom:-10px;"><a style="color:white" href="/Pages/Home.aspx">ГЛАВНАЯ</a></div>
            <div style="display:inline-block;margin-right: 70px; margin-bottom:-10px;"><a style="color:white" href="#">ПРОДУКЦИЯ</a></div>
            <div style="display:inline-block;margin-right: 70px; margin-bottom:-10px;"><a style="color:white" href="/Pages/Partners.aspx">ПАРТНЕРЫ</a></div>
            <div style="display:inline-block;margin-right: 70px; margin-bottom:-10px;"><a style="color:white" href="/Pages/Clientele.aspx">КЛИЕНТЫ</a></div>
            <div style="display:inline-block;margin-right: 70px; margin-bottom:-10px;"><a style="color:white" href="/Pages/Price_lists.aspx">ПРАЙС-ЛИСТЫ</a></div>
            <div style="display:inline-block;margin-right: 70px; margin-bottom:-10px;"><a style="color:white" href="/Pages/Contacts.aspx"">КОНТАКТЫ</a></div><br />
            <div style="display:inline-block;margin-right: 70px; margin-top: -30px"><p style="color:white">8-800-100-56-30</p></div>
            <div style="display:inline-block;margin-right: 70px; margin-top: -30px"><p style="color:white">Липецк, ул. Мичурина, д.28, корпус "Е", офис 33</p></div>
        </div>
</div>
  
</body> 
</html>
