<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>БМ-сервис - все для Ваших любимых коров.</title>
    <link href="~/Content/main.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div class="header">
        <div id="shap">
            <div style="margin-top: 70px;"><img src="~/Content/tel.png"></div>
            <div><p class="shap">8-800-100-56-30 <br>Звонок по России <br> бесплатный</p></div>
            <div style="margin-top: -2px;"><img src="~/Content/logo1.png" /></div>
            <div style="margin-top: 70px;"><img src="~/Content/adr.png"></div>
            <div><p>Липецк,<br> ул. Мичурина, <br> д.28, корпус «Е»</p></div>
        </div>   </div>
    </div>
    <div class="menu">

        <div id="con">
            <div id="nav">
                <ul>
                    <li><a href="http://menu.ihtut.net/" class="current"><span>Главная</span></a></li>
                    <li><a href="http://menu.ihtut.net/"><span>Наши услуги</span></a></li>
                    <li><a href="http://menu.ihtut.net/"><span>Наша продукция</span></a></li>
                    <li><a href="http://menu.ihtut.net/"><span>Партнеры</span></a></li>
                    <li><a href="http://menu.ihtut.net/"><span>Клиенты</span></a></li>
                    <li><a href="http://menu.ihtut.net/"><span>Прайс-лист</span></a></li>
                    <li><a href="http://menu.ihtut.net/"><span>Контакты</span></a></li>
                </ul>
            </div>
        </div>


    </div>
    <div class="body">
        @RenderBody()
    </div>

    <div class="bottom">
        <div id="bot"> OOO «БМ-сервис» ,  Все права защищены, 2015.</div>
    </div>
</body>
</html>
