<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>БМ-сервис - все для Ваших любимых коров.</title>
    <link href="~/Content/main.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div class="header">
        <div class="header-side">

        </div>

        <div class="header-middle">
            xnj-nj
        </div >

        <div class="header-side">

        </div>
    </div>
    <div class="menu">

    </div>
    <div class="body">
        @RenderBody()
    </div>

    <div class="bottom">

    </div>
</body>
</html>
