<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>БМ-сервис - все для Ваших любимых коров.</title>
    <link href="~/Content/main.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div class="header">
        <table border="0" width="100%" cellpadding="0" cellspacing="0">
            <tr width="100%" height="100%">
                <td width="auto"></td>
                <td width="1000px">
                    <div class="middle-side" width=400px float="left">
                        <div class="middle"><img src="~/Content/tel.png" /></div>
                        <span class="tel" float="left">
                            <font color="white">
                                <font size="5">8-800-100-56-30</font><br />
                                <i>Звонок по России бесплатный</i>
                            </font>
                        </span>
                    </div>
                    <div class="middle">
                        <img src="~/Content/logo.png" height=140px/>
                    </div>
                    <div class="middle" width=400px>

                    </div>
                </td>
                <td width="auto"></td>
            </tr>
        </table>
    </div>
    <div class="menu">

    </div>
    <div class="body">
        @RenderBody()
    </div>
    <div class="bottom">

    </div>
</body>
</html>
