

                        /* Шапка */
.header{
    width: 100%;
    background: linear-gradient(to bottom, #0e3890, #52b2fa);
    height: 180px;
    padding: 0px;
    overflow-x: hidden;
    
}

#shap {
    margin: 0 0 0 50px;
    margin-left:10%;
}
#shap div {
    float:left;
    margin-top: 30px;
   
    padding-left: 40px;
    
}

#shap p{
    font-family: Cambria;
    font-size: 30px;
    font-weight:bold;
    color: white; 
    font-style: italic;
}

                        /* Меню */
#menu {
    height: 50px;
}

#menu ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 21%; /*убираем отступы*/
  
  background:#e2e2e2; /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
  height: 50px; /*задаем высоту*/
}
#menu a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  background:#e2e2e2; /*добавляем фон к пункту меню (заменив этот параметр, вы поменяете цвет всех пунктов меню)*/
  color:#000000; /*меняем цвет ссылок*/
  padding:0px 15px; /*добавляем отступ*/
  font-family: arial; /*меняем шрифт*/
  font-weight:bold;
  line-height:50px; /*ровняем меню по вертикали*/
  display: block; 
 /* border-right: 2px solid #bdbdbd; /*добавляем бордюр справа*/
}
#menu a:hover {
  background:#52b2fa;/*добавляем эффект при наведении*/
}
#menu li {
  float:left; /*Размещаем список горизонтально для реализации меню*/
  
}

                    /* Тело */
body {
    margin: 0;
   /* background-image: url(/images/fon3.png);*/
    background-image:url(/images/fon3.png);
    background-repeat:no-repeat;
    background-size: 100%100%;
    background-attachment: fixed;
    height:100%;
}   

#body{
    /*width: 883px;*/
    width: 100%;
    padding: 0px;  
    float:left;
    min-height:100%;
}
#body_t{
    width: 883px;
    margin-left:22%;
}
                    /* Подвал */
#substrate-footer {
    height:160px;
}

.bottom{
    clear:left;
    width:100%;
    height: 50px;
    background: linear-gradient(to bottom, #52b2fa, #0e3890);
    padding: 0px;
    left: 0; bottom: 0px; /* Левый нижний угол */
    align-content: center;
    
}

#bot {
    font-size: 20px;
    font-style:italic;
    color: white;
    font-weight:bold;
    margin-left:20%;
    padding-top: 10px;
    }


                    /* Кнопка вверх */
#back-top {
	position: fixed;
	bottom: 50px;
	left: 30px;
} 
 
#back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
 
	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}

/* arrow icon (span tag) */
#back-top span {
	width: 108px;
	height: 108px;
	display: block;
	margin-bottom: 7px;
	background: /*#ddd*/ #b9dde9 url(/images/up-arrow.png) no-repeat center center;
    
	/* rounded corners */
	-webkit-border-radius: 65px;
	-moz-border-radius:65px;
	border-radius: 65px;
 
	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: #29AEE3;/*#44a2d1;#777;*/
}

                    /* Другое... */

                    /* Партнеры */
#partners {
    border: 5px outset;
    border-spacing: 7px 5px;
    border-color:#67c1de;
}
#partners tr {
    height:200px; 
    font-size: 21px;  
    line-height:1.3;  
}
#partners td{
    background-color: #caebef;
}
                    /* Клиенты */
#clientele td {
    
    font-size: 21px;  
    line-height:1.5;
}
                    /* Прайс-листы*/
#price{
    font-size:22px;
    line-height:2;
    color:#2d25ed;
}
#price a{
    color:#2d25ed;
    font-size: 24px;
    font-weight:bold;
}
                    /* Услуги */
#services{
    font-size: 22px;
    line-height:2;
}


                    /*Каталоги*/

#catalog{
      border: 2px;
      width: 200px;
      height:200px;
      /*background-color: #6C7FFA; */
      background-image: url(работа/w256h2561339252439BoxBlue1.png);
      float:left;
      margin-left: 20px;
      opacity: 0.5;
       font-size: 28px;
       font-style: italic;
       font-weight: bold;
       text-decoration: none;
       color: black;
       padding:20px 0px 0px 0px ;
    }

   #catalog:hover {opacity: 1;}

    #cat{
      opacity: 0;
      margin-top: 30px;
    }

   #catalog:hover #cat {opacity: 1;}

   hr{
       width:300px;
       border-left:0;
       border-right:0;
       height:2px;
       background-color: #2d25ed;
       border-color:#2d25ed;
       color:#2d25ed;
       border-radius:5px;
   }