
body {
    min-height:100%;
    min-width: 100%;
    margin: 0;
}
.header{
    width: 100%;
    background-color: #1d6db4;
    height: 100px;
    padding: 0px;
    margin:0px;
    border: none;
}

.header-side{
    width: auto;
    height:100%;
    background-color: yellow;
    display: inline;
}

.header-middle{
    width: 500px;
    height: auto;
    display: inline;
}

.menu{
    width: 100%;
    background-color: #f7f9fa;
    height: 30px;
    padding: 0px;
    margin:0px;
}

.body{
    width: 100px;
    height: 400px;
    background-color: red;
    padding: 0px;
    margin:0px;
    position: relative;
}
.bottom{
    width:100%;
    height: 30px;
    background-color: #1d6db4;
    padding: 0px;
    margin:0px;
}